
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.local.phpp
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/build/
/var/
/vendor/
/old/
/bkp/
###< symfony/framework-bundle ###
/node_modules/
